/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
  //   background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-container {
  width: 50%;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 10px;

  img {
    width: 100%;
  }
}

.container-fluid {
  //   height: 100%;
  //   background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-image: url('../../assets/classroom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
}

.card {
  margin-top: 56px;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(228, 241, 248, 0.88) !important;
}

.social_icon span {
  font-size: 40px;
  margin-top: 50px;
  margin-left: 10px;
  color: #00aeff;
}

.social_icon span:hover {
  color: rgb(8, 8, 8);
  cursor: pointer;
}

.card-header h3 {
  color: #070707;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: rgb(90, 90, 90);
  color: black;
  border: 1 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.remember {
  color: #00aeff;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: rgb(250, 246, 246);
  background-color: rgb(90, 89, 89);
  width: 100px;
  cursor: pointer;
}

.login_btn:hover {
  color: black;
  background-color: white;
  border: solid 4px;
  border-color: #070707;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(245, 6, 225);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
